# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.venv/

# Environment variables
.env

# OS stuff
.DS_Store
Thumbs.db

# RAG cache
rag_index.faiss
rag_docs.pkl

# Ignore uploaded files
backend/uploads/
backend/data/uploads/

# Docker
*.log
*.pid
*.sock
